In [1]:
import $exclude.`org.slf4j:slf4j-log4j12`, $ivy.`org.slf4j:slf4j-nop:1.7.21` // for cleaner logs
import $profile.`hadoop-2.7`
import $ivy.`org.apache.spark::spark-sql:2.3.0` // adjust spark version - spark >= 2.0
import $ivy.`org.jupyter-scala::spark:0.4.2` // for JupyterSparkSession (SparkSession aware of the jupyter-scala kernel)
import $ivy.`org.postgresql:postgresql:42.2.2`


import org.apache.spark._
import org.apache.spark.sql._
import jupyter.spark.session._

import org.apache.spark.sql.SparkSession

val spark = SparkSession
      .builder
      .master("local")
      .appName("Test")
      .config("spark.jars", "/mnt/data/dev/workspaces/poc/bigdata-poc/lib/postgresql-42.2.2.jar")
      .getOrCreate()

val sc = spark.sparkContext

log4j:WARN No appenders could be found for logger (io.netty.util.internal.logging.InternalLoggerFactory).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

import $exclude.$                        , $ivy.$                            // for cleaner logs

import $profile.$

import $ivy.$                                   // adjust spark version - spark >= 2.0

import $ivy.$                                // for JupyterSparkSession (SparkSession aware of the jupyter-scala kernel)

import $ivy.$



import org.apache.spark._

import org.apache.spark.sql._

import jupyter.spark.session._


import org.apache.spark.sql.SparkSession


spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@62eb9a6e
sc: org.apache.spark.SparkContext = org.apache.spark.SparkContext@d8788a1

In [3]:
val df = spark.read.format("json")
  .load("spark/data/flight-data/json/2015-summary.json")

df: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [4]:
df.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [6]:

spark.read.format("json").load("spark/data/flight-data/json/2015-summary.json").schema

res5: types.StructType = StructType(
  StructField(DEST_COUNTRY_NAME,StringType,true),
  StructField(ORIGIN_COUNTRY_NAME,StringType,true),
  StructField(count,LongType,true)
)

In [8]:
import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType}
import org.apache.spark.sql.types.Metadata

val myManualSchema = StructType(Array(
    StructField("DEST_COUNTRY_NAME", StringType, true),
    StructField("ORIGIN_COUNTRY_NAME", StringType, true),
    StructField("count", LongType, false, Metadata.fromJson("{\"hello\":\"world\"}"))
   
))


val df = spark.read.format("json").schema(myManualSchema)
  .load("spark/data/flight-data/json/2015-summary.json")

import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType}

import org.apache.spark.sql.types.Metadata


myManualSchema: types.StructType = StructType(
  StructField(DEST_COUNTRY_NAME,StringType,true),
  StructField(ORIGIN_COUNTRY_NAME,StringType,true),
  StructField(count,LongType,false)
)
df: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [9]:
df.schema

res8: StructType = StructType(
  StructField(DEST_COUNTRY_NAME,StringType,true),
  StructField(ORIGIN_COUNTRY_NAME,StringType,true),
  StructField(count,LongType,true)
)

In [10]:
import org.apache.spark.sql.functions.{col, column}

import org.apache.spark.sql.functions.{col, column}

In [11]:
col("someColumnName")

res10: Column = someColumnName

In [12]:
column("someColumnName")

res11: Column = someColumnName

In [13]:
import org.apache.spark.sql.functions.expr

import org.apache.spark.sql.functions.expr

In [15]:
expr("(((someCol + 5) * 200) - 6) < otherCol")

res14: Column = ((((someCol + 5) * 200) - 6) < otherCol)

In [16]:
spark.read.format("json").load("spark/data/flight-data/json/2015-summary.json")
  .columns

res15: Array[String] = Array("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME", "count")

In [17]:
spark.read.format("json").load("spark/data/flight-data/json/2015-summary.json").first

res16: Row = [United States,Romania,15]

### creating row

In [18]:
import org.apache.spark.sql.Row

import org.apache.spark.sql.Row

In [19]:
val myRow = Row("Hello", null, 1, false, 3.0)

myRow: Row = [Hello,null,1,false,3.0]

In [20]:
myRow(0)

res19: Any = Hello

In [21]:
myRow(0).asInstanceOf[String]

res20: String = "Hello"

In [22]:
myRow.getString(0)

res21: String = "Hello"

In [23]:
myRow.getInt(2)

res22: Int = 1

### creating DataFrames

In [24]:
val df = spark.read.format("json")
  .load("spark/data/flight-data/json/2015-summary.json")

df: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [25]:
df.createOrReplaceTempView("dfTable")

In [26]:

val myManualSchema = new StructType(Array(
  new StructField("some", StringType, true),
  new StructField("col", StringType, true),
  new StructField("names", LongType, false)))
val myRows = Seq(Row("Hello", null, 1L))
val myRDD = spark.sparkContext.parallelize(myRows)
val myDf = spark.createDataFrame(myRDD, myManualSchema)
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|null|    1|
+-----+----+-----+

myManualSchema: StructType = StructType(
  StructField(some,StringType,true),
  StructField(col,StringType,true),
  StructField(names,LongType,false)
)
myRows: Seq[Row] = List([Hello,null,1])
myRDD: rdd.RDD[Row] = ParallelCollectionRDD[24] at parallelize at cmd25.sc:6
myDf: DataFrame = [some: string, col: string ... 1 more field]

In [27]:
myDf.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|Hello|null|    1|
+-----+----+-----+

In [27]:
val myDF = Seq(("hello", 2, 1L)).toDF("col1", "col2", "col3")

cmd27.sc:1: value toDF is not a member of Seq[(String, Int, Long)]
val myDF = Seq(("hello", 2, 1L)).toDF("col1", "col2", "col3")
                                 ^

:

In [33]:
df.select("*").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [38]:

import org.apache.spark.sql.functions.{expr, col, column}
df.select(
df.col("DEST_COUNTRY_NAME"),
    col("DEST_COUNTRY_NAME"),
    column("DEST_COUNTRY_NAME"),
    expr("DEST_COUNTRY_NAME")).show(2)

+-----------------+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|    United States|
|    United States|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+-----------------+
only showing top 2 rows

import org.apache.spark.sql.functions.{expr, col, column}

In [39]:

df.select(expr("DEST_COUNTRY_NAME AS destination")).show(2)

+-------------+
|  destination|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [40]:

df.selectExpr("DEST_COUNTRY_NAME as newColumnName", "DEST_COUNTRY_NAME").show(2)

+-------------+-----------------+
|newColumnName|DEST_COUNTRY_NAME|
+-------------+-----------------+
|United States|    United States|
|United States|    United States|
+-------------+-----------------+
only showing top 2 rows

In [41]:
df.selectExpr("*","(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry ").show(100)

+--------------------+--------------------+------+-------------+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME| count|withinCountry|
+--------------------+--------------------+------+-------------+
|       United States|             Romania|    15|        false|
|       United States|             Croatia|     1|        false|
|       United States|             Ireland|   344|        false|
|               Egypt|       United States|    15|        false|
|       United States|               India|    62|        false|
|       United States|           Singapore|     1|        false|
|       United States|             Grenada|    62|        false|
|          Costa Rica|       United States|   588|        false|
|             Senegal|       United States|    40|        false|
|             Moldova|       United States|     1|        false|
|       United States|        Sint Maarten|   325|        false|
|       United States|    Marshall Islands|    39|        false|
|              Guyana|       United States|    64|        false|
|               Malta|       United States|     1|        false|
|            Anguilla|       United States|    41|        false|
|             Bolivia|       United States|    30|        false|
|       United States|            Paraguay|     6|        false|
|             Algeria|       United States|     4|        false|
|Turks and Caicos ...|       United States|   230|        false|
|       United States|           Gibraltar|     1|        false|
|Saint Vincent and...|       United States|     1|        false|
|               Italy|       United States|   382|        false|
|       United States|Federated States ...|    69|        false|
|       United States|              Russia|   161|        false|
|            Pakistan|       United States|    12|        false|
|       United States|         Netherlands|   660|        false|
|             Iceland|       United States|   181|        false|
|    Marshall Islands|       United States|    42|        false|
|          Luxembourg|       United States|   155|        false|
|            Honduras|       United States|   362|        false|
|         The Bahamas|       United States|   955|        false|
|       United States|             Senegal|    42|        false|
|         El Salvador|       United States|   561|        false|
|               Samoa|       United States|    25|        false|
|       United States|              Angola|    13|        false|
|         Switzerland|       United States|   294|        false|
|       United States|            Anguilla|    38|        false|
|        Sint Maarten|       United States|   325|        false|
|           Hong Kong|       United States|   332|        false|
| Trinidad and Tobago|       United States|   211|        false|
|              Latvia|       United States|    19|        false|
|       United States|             Ecuador|   300|        false|
|            Suriname|       United States|     1|        false|
|              Mexico|       United States|  7140|        false|
|       United States|              Cyprus|     1|        false|
|             Ecuador|       United States|   268|        false|
|       United States|            Portugal|   134|        false|
|       United States|          Costa Rica|   608|        false|
|       United States|           Guatemala|   318|        false|
|       United States|            Suriname|    34|        false|
|            Colombia|       United States|   873|        false|
|       United States|          Cape Verde|    14|        false|
|       United States|             Jamaica|   712|        false|
|              Norway|       United States|   121|        false|
|       United States|            Malaysia|     3|        false|
|       United States|             Morocco|    19|        false|
|            Thailand|       United States|     3|        false|
|       United States|               Samoa|    25|        false|
|           Venezuela|       United States|   290|        false|
|       United States|               Palau|    31|        false|
|       United States|           Venezuela|   246|        false|
|              Panama|       United States|   510|        false|
| Antigua and Barbuda|       United States|   126|        false|
|       United States|               Chile|   185|        false|
|             Morocco|       United States|    15|        false|
|       United States|             Finland|    28|        false|
|          Azerbaijan|       United States|    21|        false|
|       United States|              Greece|    23|        false|
|       United States|         The Bahamas|   986|        false|
|         New Zealand|       United States|   111|        false|
|             Liberia|       United States|     2|        false|
|       United States|           Hong Kong|   414|        false|
|             Hungary|       United States|     2|        false|
|       United States|               China|   920|        false|
|       United States|             Vietnam|     2|        false|
|        Burkina Faso|       United States|     1|        false|
|              Sweden|       United States|   118|        false|
|       United States|              Kuwait|    28|        false|
|       United States|  Dominican Republic|  1420|        false|
|       United States|               Egypt|    12|        false|
|              Israel|       United States|   134|        false|
|       United States|       United States|370002|         true|
|            Ethiopia|       United States|    13|        false|
|       United States|          Luxembourg|   134|        false|
|       United States|              Poland|    33|        false|
|          Martinique|       United States|    44|        false|
|       United States|    Saint Barthelemy|    41|        false|
|    Saint Barthelemy|       United States|    39|        false|
|            Barbados|       United States|   154|        false|
|       United States|              Turkey|   129|        false|
|            Djibouti|       United States|     1|        false|
|       United States|          Azerbaijan|    21|        false|
|       United States|             Estonia|     1|        false|
|             Germany|       United States|  1468|        false|
|       United States|         South Korea|   827|        false|
|       United States|         El Salvador|   508|        false|
|             Ireland|       United States|   335|        false|
|       United States|             Hungary|     3|        false|
|              Zambia|       United States|     1|        false|
|            Malaysia|       United States|     2|        false|
+--------------------+--------------------+------+-------------+
only showing top 100 rows

In [42]:
df.selectExpr("avg(count)", "count(distinct(DEST_COUNTRY_NAME))").show(2)

+-----------+---------------------------------+
| avg(count)|count(DISTINCT DEST_COUNTRY_NAME)|
+-----------+---------------------------------+
|1770.765625|                              132|
+-----------+---------------------------------+

### convert to spark type (literals)

In [43]:
import org.apache.spark.sql.functions.lit

import org.apache.spark.sql.functions.lit

In [44]:
df.select(expr("*"), lit(1).as("One")).show(2)

+-----------------+-------------------+-----+---+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|One|
+-----------------+-------------------+-----+---+
|    United States|            Romania|   15|  1|
|    United States|            Croatia|    1|  1|
+-----------------+-------------------+-----+---+
only showing top 2 rows

In [45]:
val df2 = df.withColumn("numberOne", lit(1))

df2: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 2 more fields]

In [46]:
df2.show(2)

+-----------------+-------------------+-----+---------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|numberOne|
+-----------------+-------------------+-----+---------+
|    United States|            Romania|   15|        1|
|    United States|            Croatia|    1|        1|
+-----------------+-------------------+-----+---------+
only showing top 2 rows

In [47]:
df.show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [49]:
df.withColumn("withinCountry", expr("ORIGIN_COUNTRY_NAME == DEST_COUNTRY_NAME"))
  .show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

In [50]:
val dfWithLongColName = df.withColumn(
  "This Long Column-Name",
  expr("ORIGIN_COUNTRY_NAME"))

dfWithLongColName: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 2 more fields]

In [51]:
dfWithLongColName.createOrReplaceTempView("dfTableLong")

### filter

In [52]:
df.where("count < 2").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [54]:
df.filter("count < 2").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

In [55]:
df.where(col("count") < 2).where(col("ORIGIN_COUNTRY_NAME") =!= "Croatia")
  .show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|          Singapore|    1|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

### distinct

In [56]:
df.select("ORIGIN_COUNTRY_NAME", "DEST_COUNTRY_NAME").distinct().count()

res55: Long = 256L

In [57]:
df.count()

res56: Long = 256L

In [58]:
df.select("ORIGIN_COUNTRY_NAME").distinct().count()

res57: Long = 125L

In [59]:
val schema = df.schema
val newRows = Seq(
  Row("New Country", "Other Country", 5L),
  Row("New Country 2", "Other Country 3", 1L)
)

schema: StructType = StructType(
  StructField(DEST_COUNTRY_NAME,StringType,true),
  StructField(ORIGIN_COUNTRY_NAME,StringType,true),
  StructField(count,LongType,true)
)
newRows: Seq[Row] = List([New Country,Other Country,5], [New Country 2,Other Country 3,1])

In [63]:
val parallelizedRows = spark.sparkContext.parallelize(newRows)
val newDF = spark.createDataFrame(parallelizedRows, schema)
df.union(newDF)
  .where("count = 1")
  .where("ORIGIN_COUNTRY_NAME <> \"United States\"")
  .show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
|    United States|          Gibraltar|    1|
|    United States|             Cyprus|    1|
|    United States|            Estonia|    1|
|    United States|          Lithuania|    1|
|    United States|           Bulgaria|    1|
|    United States|            Georgia|    1|
|    United States|            Bahrain|    1|
|    United States|   Papua New Guinea|    1|
|    United States|         Montenegro|    1|
|    United States|            Namibia|    1|
|    New Country 2|    Other Country 3|    1|
+-----------------+-------------------+-----+

parallelizedRows: rdd.RDD[Row] = ParallelCollectionRDD[162] at parallelize at cmd62.sc:1
newDF: DataFrame = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

### sorting

In [64]:
df.sort("count").show(5)
df.orderBy("count", "DEST_COUNTRY_NAME").show(5)
df.orderBy(col("count"), col("DEST_COUNTRY_NAME")).show(5)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
+--------------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

### limit

In [65]:
df.orderBy(expr("count desc")).limit(6).show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|               Malta|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|            Croatia|    1|
|       United States|          Gibraltar|    1|
|       United States|          Singapore|    1|
|             Moldova|      United States|    1|
+--------------------+-------------------+-----+

### repartition and coalesce

In [68]:
df.rdd.getNumPartitions

res67: Int = 1

In [67]:
df.repartition(3)

res66: Dataset[Row] = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [69]:
df.repartition(col("DEST_COUNTRY_NAME"))

res68: Dataset[Row] = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [76]:
val collectDF = df.limit(10)
collectDF.take(5) // take works with an Integer count
collectDF.show() // this prints it out nicely
collectDF.show(5, false)
collectDF.collect()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

collectDF: Dataset[Row] = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]
res75_1: Array[Row] = Array(
  [United States,Romania,15],
  [United States,Croatia,1],
  [United States,Ireland,344],
  [Egypt,United States,15],
  [United States,India,62]
)
res75_4: Array[Row] = Array(
  [United States,Romania,15],
  [United States,Croatia,1],
  [United States,Ireland,344],
  [Egypt,United States,15],
  [United States,India,62],
  [United States,Singapore,1],
  [United States,Grenada,62],
  [Costa Rica,United States,588],
  [Senegal,United States,40],
  [Moldova,United States,1]
)