In [1]:
import $exclude.`org.slf4j:slf4j-log4j12`, $ivy.`org.slf4j:slf4j-nop:1.7.21` // for cleaner logs
import $profile.`hadoop-2.7`
import $ivy.`org.apache.spark::spark-sql:2.3.0` // adjust spark version - spark >= 2.0
import $ivy.`org.jupyter-scala::spark:0.4.2` // for JupyterSparkSession (SparkSession aware of the jupyter-scala kernel)
import $ivy.`org.postgresql:postgresql:42.2.2`


import org.apache.spark._
import org.apache.spark.sql._
import jupyter.spark.session._

import org.apache.spark.sql.SparkSession

val spark = SparkSession
      .builder
      .master("local")
      .appName("Test")
      .config("spark.jars", "/mnt/data/dev/workspaces/poc/bigdata-poc/lib/postgresql-42.2.2.jar")
      .getOrCreate()

val sc = spark.sparkContext

log4j:WARN No appenders could be found for logger (io.netty.util.internal.logging.InternalLoggerFactory).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

import $exclude.$                        , $ivy.$                            // for cleaner logs

import $profile.$

import $ivy.$                                   // adjust spark version - spark >= 2.0

import $ivy.$                                // for JupyterSparkSession (SparkSession aware of the jupyter-scala kernel)

import $ivy.$



import org.apache.spark._

import org.apache.spark.sql._

import jupyter.spark.session._


import org.apache.spark.sql.SparkSession


spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@4e7b54e6
sc: org.apache.spark.SparkContext = org.apache.spark.SparkContext@6f3aaff0

In [8]:
import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType, Metadata}
import org.apache.spark.sql.functions.{col, column, expr, lit, get_json_object, json_tuple, udf, count}

import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType, Metadata}

import org.apache.spark.sql.functions.{col, column, expr, lit, get_json_object, json_tuple, udf, count}

In [5]:
val df = spark.read.format("csv")
  .option("header", "true")
  .option("inferSchema", "true")
  .load("/mnt/data/dev/workspaces/Spark-The-Definitive-Guide/data/retail-data/all/*.csv")
  .coalesce(5)
df.cache()
df.createOrReplaceTempView("dfTable")

df: Dataset[Row] = [InvoiceNo: string, StockCode: string ... 6 more fields]
res4_1: Dataset[Row] = [InvoiceNo: string, StockCode: string ... 6 more fields]

In [6]:
df.show(10)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 10 rows

In [7]:
df.count()

res6: Long = 541909L

### count

In [12]:
import org.apache.spark.sql.functions.count
df.select(count("StockCode")).show()

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

import org.apache.spark.sql.functions.count

### countDistinct

In [11]:
import org.apache.spark.sql.functions.countDistinct
df.select(countDistinct("StockCode")).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

import org.apache.spark.sql.functions.countDistinct